<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finalyearproject.learnpashto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivity"
            android:configChanges="orientation"
            android:label="@string/play_button"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumbersCategoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_numbers"
            android:screenOrientation="portrait"
            android:theme="@style/NumbersActivityTheme" />
        <activity
            android:name=".ColoursCategoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_colours"
            android:screenOrientation="portrait"
            android:theme="@style/ColoursActivityTheme" />
        <activity
            android:name=".DaysCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_days"
            android:theme="@style/daysActivityTheme"/>
        <activity
            android:name=".FoodCategoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_food"
            android:screenOrientation="portrait"
            android:theme="@style/FoodActivityTheme" />
        <activity
            android:name=".AnimalsCategoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_animals"
            android:screenOrientation="portrait"
            android:theme="@style/AnimalsActivityTheme" />
        <activity
            android:name=".BodyPartsCategoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_body"
            android:screenOrientation="portrait"
            android:theme="@style/BodyActivityTheme" />
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:configChanges="orientation"
            android:label="@string/quizResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlphabetsCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AlphabetActivityTheme"/>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="orientation"
            android:label="@string/learning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scoreboardActivity"
            android:label="@string/scoreTable"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity
            android:name=".FamilyCategoryActivity"
            android:label="@string/title_family"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@style/FamilyActivityTheme"/>
        <activity
            android:name=".quizInstructionActivity"
            android:label="@string/quizInstruction">
        </activity>
    </application>
</manifest>